.idea
.idea.disabled
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
config.properties
### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/.idea/.gitignore
/.idea/encodings.xml
/.idea/misc.xml
/.idea/vcs.xml
WHISPERDOG_REBRAND_SPEC.md


### Resources
/src/main/resources/logo/whisperdog_logo.psd

### ScaffoldX
.env
/.scaffoldx/xlogs/
/.scaffoldx/xtmp/
/.scaffoldx/xworkbench/
/.scaffoldx/xmemory/**/*.json
/.scaffoldx/xmemory/transitions/
/.scaffoldx/xcore/
/.scaffoldx/xtasks/0001*/
/.scaffoldx/xtasks/_*/
/.scaffoldx/config.private.json
.claude/settings.local.json
/**/*.backup
/.scaffoldx/xcore/
/.windsurf/rules/scaffoldx.md
/scaffoldx.md
/scaffoldx.mdc
/system_instructions.md
